<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - testproject</title>
     <!--Morris Chart CSS -->
    <link rel="stylesheet" href="~/css/morris.css">

    <link href="~/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="~/css/metismenu.min.css" rel="stylesheet" type="text/css">
    <link href="~/css/icons.css" rel="stylesheet" type="text/css">
    <link href="~/css/style.css" rel="stylesheet" type="text/css">

    <!-- jQuery  -->
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/metismenu.min.js"></script>
    <script src="~/js/jquery.slimscroll.js"></script>
    <script src="~/js/waves.min.js"></script>

    <!--Morris Chart-->
    <script src="~/js/morris.min.js"></script>
    <script src="~/js/raphael.min.js"></script>

    <script src="~/js/dashboard.init.js"></script>

    <!-- App js -->
    <script src="~/js/app.js"></script>
     
</head>
<body>
   @RenderBody()
  
</body>
</html>