
@{
    ViewData["Title"] = "Index";
   // Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<div class="row">

    <form class="row g-3">
        <div class="col-md-6">
            <label for="inputId" class="form-label">ID</label>
            <input type="id" class="form-control" id="inputId">
        </div>
        <div class="col-md-6">
            <label for="inputCreatedDateTime" class="form-label">Creadted Date Time</label>
            <input type="createddatetime" class="form-control" id="inputCreadtedDateTime">
        </div>
        <div class="col-md-6">
            <label for="inputEmail4" class="form-label">Email</label>
            <input type="email" class="form-control" id="inputEmail4">
        </div>
        <div class="col-md-6">
            <label for="inputFirstName" class="form-label">First Name</label>
            <input type="firstname" class="form-control" id="inputFirstName">
        </div>

        <div class="col-md-6">
            <label for="inputLastName" class="form-label">Last Name</label>
            <input type="text" class="form-control" id="inputLastName">
        </div>
        <div class="col-md-6">
            <label for="inputRoleId" class="form-label">Role ID</label>
            <input type="roleid" class="form-control" id="inputRoleId">
        </div>
        <div class="col-md-6">
            <label for="inputUpdatedDateTime" class="form-label">Updated Date Time</label>
            <input type="updateddatetime" class="form-control" id="inputUpdatedDateTime">
        </div>
        <div class="col-md-6">
            <label for="Name" class="form-label">Name</label>
            <input type="Name" class="form-control" id="inputName">
        </div>
        <div class="col-12">
            <button type="submit" class="btn btn-primary">Register</button>
        </div>
    </form>
</div>